body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body #main {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

body #main div {
    display: flex;
    border: solid 1px black;
    font-size: 120px;
    justify-content: center;
}

button {
    margin-top: 15px;
} 